<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projeto EDL</title>
    


    <div align="right">
        {% if not user.is_authenticated %}
            <a href="/singin">Sing in</a>
            <a href="/login">Login</a>
        {% endif %}
        <a href="/logout">logout</a>
    </div>

    <h1>

        <div align="center" >
            <a class="active" href="/cadastrar">Cadastrar</a>
            <a href="/listar">Alunos</a>
        </div>
    </h1>


</head>
<body>
{% block content %} {% endblock %}
</body>
</html>